Repository RedHatInsights/compliance-backend, pull requests merged in 2023-10, with the labels that each got.

#1840 refactor(APIv2): decouple not_found test factory generation
  spec/controllers/v2/concerns/resource_spec.rb
  spec/controllers/v2/profiles_controller_spec.rb
  spec/controllers/v2/rules_controller_spec.rb
  spec/controllers/v2/value_definitions_controller_spec.rb
Labels: hacktoberfest-accepted, APIv2

#1818 feat(APIv2): RHINENG-2133 implement rules endpoint nested under profiles
  app/models/v2/profile_rule.rb
  app/models/v2/rule.rb
  config/routes.rb
  spec/controllers/v2/concerns/collection_spec.rb
  spec/controllers/v2/rules_controller_spec.rb
  spec/factories/profile_rule.rb
  spec/factories/rule.rb
  spec/fixtures/files/searchable/rules_controller.yaml
  spec/fixtures/files/sortable/rules_controller.yaml
Labels: APIv2

#1841 refactor(APIv2): adjust semantics of some shared examples
  app/controllers/concerns/v2/rendering.rb
  spec/controllers/v2/concerns/rendering_spec.rb
  spec/controllers/v2/concerns/resource_spec.rb
  spec/controllers/v2/profiles_controller_spec.rb
  spec/controllers/v2/rules_controller_spec.rb
  spec/controllers/v2/security_guides_controller_spec.rb
  spec/controllers/v2/value_definitions_controller_spec.rb
Labels: APIv2

#1847 perf(APIv2): rely on resource when determining column to count by
  app/controllers/concerns/v2/metadata.rb
Labels: hacktoberfest-accepted, APIv2

#1846 cleanup(README): minor revisions in the readme
  README.md
Labels: hacktoberfest-accepted

#1838 feat(APIv2): RHINENG-2198 introduce the derived_attribute serializer
  app/controllers/concerns/v2/rendering.rb
  app/controllers/v2/application_controller.rb
  app/models/v2/rule.rb
  app/serializers/v2/application_serializer.rb
  app/serializers/v2/rule_serializer.rb
  app/serializers/v2/security_guide_serializer.rb
  spec/controllers/v2/rules_controller_spec.rb
  spec/factories/rule.rb
  spec/models/v2/rule_spec.rb
Labels: hacktoberfest-accepted, APIv2

#1850 feat(APIv2): RHINENG-1986 create views for policies and tailorings
  app/models/v2/policy.rb
  app/models/v2/policy_host.rb
  app/models/v2/tailoring.rb
  db/migrate/20231024083131_create_tailorings.rb
  db/migrate/20231024113017_create_v2_policies.rb
  db/schema.rb
  db/views/tailorings_v01.sql
  db/views/v2_policies_v01.sql
Labels: APIv2

#1857 fix(APIv2): RHINENG-2720 return not_found when parent ID is invalid
  app/controllers/concerns/v2/collection.rb
  app/controllers/v2/application_controller.rb
  spec/controllers/v2/concerns/rendering_spec.rb
  spec/controllers/v2/rules_controller_spec.rb
Labels: APIv2
